/*===============
 * Bar Header
 *============== */
#header-bar {
  min-height: 15dvh;
}

.bar-a {
  background: var(--color-font-secondary);
}

.bar-b {
  background-color: var(--color-font-main);
}

.account-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.85rem;
}

/*===============
 * Account Section
 *============== */
.account-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  min-height: 80dvh;
  padding: 1em;
  gap: 0.5em;
}

.account-type_heading {
  text-align: center;
  background: var(--color-font-secondary);
  border-radius: 0.25rem;
  min-width: 35ch;
  font-weight: 800;
  text-transform: uppercase;
}

/*===============
 * Form Section
 *============== */
.account-post {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transition: all 0.4s ease;
}

.type-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: all 0.4s ease;
}

.debit-part,
.credit-part {
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.25em;
}

.acc-type_n {
  color: var(--color-font-main);
  font-weight: 800;
  text-transform: uppercase;
}

.acc-selection:hover {
  background: var(--color-font-main);
  color: var(--color-font-secondary);
  border-radius: 0.25rem;
}

.account-cred,
.account-deb {
  background: var(--color-font-secondary);
  min-height: 21rem;
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.25rem;
  box-shadow: -0.1rem 0rem 1rem rgba(0, 0, 0, 0.361);
  margin-inline-start: auto;
}

.amount-input {
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 0.5em;
  background: var(--color-font-secondary);
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.currency {
  font-weight: 900;
}

.amt {
  background: var(--color-font-secondary);
  padding: 0.5em;
  max-width: 11ch;
  font-weight: 700;
}

.desc {
  background-color: var(--color-font-secondary);
  min-width: 30ch;
  text-align: left;
  padding: 0.5em;
  border-radius: 10rem;
  font-weight: 700;
}

.accept {
  background: var(--color-font-secondary);
  border-radius: 0.5rem;
}

.accept:hover {
  background: var(--color-font-main);
  color: var(--color-font-secondary);
}

.ok-btn {
  padding: 0.5em;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: lowercase;
}

.ok-btn:hover {
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.desc:focus,
.desc:hover,
.amount-input:hover {
  outline-width: 0.1rem;
  outline-style: solid;
  outline-color: var(--color-font-main);
}

.amt:focus {
  outline: none;
}

.account-cred,
.account-deb {
  outline-style: none;
}

@media (min-width: 60em) {
  .account-post {
    transition: all 0.4s ease;
  }
  .type-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: all 0.4s ease;
  }
}
