/*===============
 * VARIABLES
 *============== */
:root {
  /* Backgrounds */
  --color-bg-main: #eba83a;

  /* Texts */
  --color-font-main: #9c1602;
  --color-font-secondary: #fff8d9;
}

/*===============
 * HEADER
 *============== */
#top-style {
  min-height: 20dvh;
  .bar-top,
  .title {
    min-height: 8dvh;
  }
  .bar-top,
  .bar-bottom {
    display: grid;
    gap: 1em;
  }
  .bar-top {
    grid-template-columns: 1fr 3fr;
    .bar-style-left {
      background: var(--color-font-secondary);
    }

    .bar-style-right {
      background: var(--color-font-main);
    }
  }

  .title {
    display: flex;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--color-font-secondary);
  }

  .bar-bottom {
    grid-template-columns: 3fr 1fr;
    min-height: 4dvh;
    .bar-style-left {
      background: var(--color-font-main);
    }

    .bar-style-right {
      background: var(--color-font-secondary);
    }
  }
}

/*===============
 * LEDGER
 *============== */
#ledger {
  border: 0.2rem solid var(--color-font-main);
  min-height: 56dvh;
  display: grid;
  grid-template-areas:
    "asset equity"
    "liability equity";
  align-items: baseline;

  .asset-tile,
  .liability-tile,
  .equity-tile {
    color: var(--color-font-main);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    height: 100%;
    .name {
      min-height: 4dvh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      text-transform: uppercase;
      background: var(--color-font-secondary);
    }
  }

  .asset-tile {
    grid-area: asset;
  }
  .liability-tile {
    grid-area: liability;
    min-height: 28dvh;
  }

  .equity-tile {
    grid-area: equity;
    min-height: 56dvh;
    border-left: 0.1rem solid var(--color-font-main);
    border-left-width: 0.2rem;
    .equity-wrapper {
      min-height: 50dvh;
      display: grid;
      grid-template-rows: 2fr 3fr;
      width: 100%;
      .capital-tile {
        min-width: 100%;
        height: 100%;
        border-bottom: 0.2rem solid var(--color-font-main);
      }
      .income-tile {
        height: 100%;
        min-height: 31dvh;
        display: flex;
        flex-wrap: wrap;
        .revenue-tile,
        .expense-tile {
          min-width: 100%;
          /* border-right: 0.2rem solid var(--color-font-main); */
        }
      }
    }
  }
}

/*===============
 * ACCOUNT
 *============== */

.asset-wrapper,
.liability-wrapper,
.capital-tile {
  .acc-container_wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 133%;
    padding: 0.5em;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
}

.revenue-tile,
.expense-tile {
  max-width: 23dvw;
  max-height: 50dvh;
  .acc-container_wrapper {
    /* height: 100%; */
    gap: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em;
    overflow-y: auto;
    overscroll-behavior-inline: contain;
  }
}

.acc-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0.9rem;
  font-weight: 700;
  max-width: 40ch;

  border-top: 0.1rem solid var(--color-font-main);
  border-left: 0.1rem solid var(--color-font-main);
  border-right: 0.1rem solid var(--color-font-main);
  border-bottom: 0.1rem solid var(--color-font-main);
  background: var(--color-font-secondary);

  .acc-name {
    border-bottom: 0.1rem solid var(--color-font-main);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    .name-title {
      border-left: 0.1rem solid var(--color-font-main);
      border-right: 0.1rem solid var(--color-font-main);
    }
    .name-debit,
    .name-credit {
      font-size: 0.8rem;
    }
  }
  .side-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 0.1rem solid var(--color-font-main);
    .side-debit,
    .side-credit {
      display: grid;
      .data {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        .d-acc_wrapper {
          flex: 1;
          border-bottom: 0.1rem solid var(--color-font-main);
          padding: 0.2em;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1em;
        }
      }
      .sum {
        align-self: self-end;
        /* border: 0.1rem solid var(--color-font-main); */
      }
    }
  }
  .side-debit {
    border-right: 0.1rem solid var(--color-font-main);
  }
  .balance {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .balance-space {
      min-height: 0.4rem;
      border: 0.15rem solid var(--color-font-main);
    }
  }
}

.scroller {
  ::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-font-secondary);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-font-main);
    border-radius: 1rem;
  }
}

/*===============
 * FOOTER
 *============== */

#accounts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 23dvh;
  .bar-footer {
    min-height: 14dvh;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    gap: 1em;
    .bar-footer-left {
      background: var(--color-font-main);
    }
    .bar-footer-right {
      background: var(--color-font-secondary);
    }
  }
  .accounts-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 5dvh;
    text-align: center;
    .acc {
      display: flex;
      justify-content: center;
      padding: 0.5rem;
      .btn {
        border-radius: 0.25rem;
        max-width: 10ch;
        min-height: 7dvh;
        font-weight: 700;
        text-wrap: wrap;
        text-transform: capitalize;
        background: var(--color-font-secondary);
        padding: 0.25rem;
        transition: ease-in-out 500ms 60ms;
      }
      .btn:hover {
        background-color: var(--color-font-main);
        color: var(--color-font-secondary);
        transition: ease-in-out 500ms 60ms;
      }
    }
  }
}

@media (min-width: 40em) {
  .acc-container_wrapper {
    grid-auto-columns: 76%;
  }
  .asset-wrapper,
  .capital-tile {
    max-width: 48dvw;
  }
  /* .acc-container {
    font-size: 1rem;
    min-width: 40ch;
    max-height: 30dvh;
  } */
}

@media (min-width: 100em) {
  #ledger {
    min-height: 65dvh;
    .asset-tile,
    .liability-tile,
    .equity-tile {
      .name {
        min-height: 5dvh;
      }
    }
    .asset-tile {
      min-height: 33dvh;
    }
    .liability-tile {
      min-height: 33dvh;
    }

    .equity-tile {
      min-height: 66dvh;
      .equity-wrapper {
        min-height: 58dvh;
        .income-tile {
          min-height: 36dvh;
        }
      }
    }
  }
  #accounts {
    min-height: 13dvh;
    .bar-footer {
      min-height: 4dvh;
    }
    .accounts-wrapper {
      min-height: 9dvh;
    }
  }
  .asset-wrapper,
  .liability-wrapper,
  .capital-tile {
    max-width: 49.3dvw;
    height: 80%;
    .acc-container_wrapper {
      overflow-y: hidden;
      grid-auto-columns: 46%;
    }
  }

  .revenue-tile,
  .expense-tile {
    max-width: 25dvw;
    /* background: blue; */
    /* max-height: 50dvh; */
    /* .acc-container_wrapper {
    } */
  }

  .acc-container {
    font-size: 1rem;
  }
}
