/* ===============
 * FONTS
 *============== */

/*===============
 * VARIABLES
 *============== */
:root {
  /* Backgrounds */
  --color-bg-main: #eba83a;

  /* Texts */
  --color-font-main: #9c1602;
  --color-font-secondary: #fff8d9;
  --typography-headings: "AmaticSC_Bold";
  --typography-body: "Merriweather_Regular";
  --typography-captions: "Josefin_SlabRegular";
  --typography-notes: "Satisfy_Regular";
}

/*===============
 * GLOBAL STYLES
 *=============== */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-bg-main);
  color: var(--color-font-main);
  font-family: var(--typography-body);
  font-size: 1.25rem;
  /* margin-inline: auto; */
  overflow-x: hidden;
  /* width: min(90%, 90dvw); */
}

main {
  align-items: center;
  margin-inline: auto;
}

/*===============
 * Frameworks
 *============== */
.frameworks {
  max-width: 15ch;
  min-height: 15ch;
  margin-inline: auto;
  color: var(--color-font-main);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}
